<div class ="span6 offset3 boxy text-center">
	<h1 class="h1-custom"> Blend your own tea </h1>
	<br/>

	<h2 class='h2-custom'>lalal lalalal alalal allal ala ala lala lala </h2>
	<%= link_to 'Launch', pics_path, :class => 'btn btn-warning btn-large'%>
</div>